/* Mobile & Tablet */
@media screen and (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
    }
    
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::before {
        display: none;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 10px;
    }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }

}

/* Mobile */
@media screen and (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0;
    }

    .hide-on-mobile {
        display: none;
    }

    .app__content {
        margin: 0 4px;
    }

    .header-with-search {
        justify-content: space-between;
        padding: 0 16px;
    }

    .header__logo,
    .header__cart {
        width: unset;
    }

    .header__logo-img {
        width: 130px;
        padding-top: 6px;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        padding: 0 16px;
        height: 46px;
        border: 2px solid var(--border-color);
        display: none;
    }

    .header__mobile-search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }
    
    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .header__mobile-search {
        display: block;
    }    

    .mobile-category {
        display: block;
    }

    .footer-content {
        padding: 0 8px;
    }
}